<% layout("./layouts/boilerplate.ejs") %>

    <body>
        <div class="row mt-4">
            <div class="col-8 offset-2">
                <h3>Edit Your Listing</h3>
                <form action="/listings/<%= listing._id %>?_method=PUT" method="post" class="needs-validation"
                    novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control"
                            required>
                        <div class="invalid-feedback">Please enter title </div>
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Description</label>
                        <textarea name="listing[description]" id="desc" cols="30" rows="5" class="form-control"
                            required><%= listing.description %></textarea>
                        <div class="invalid-feedback">Please enter short description </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image-Link</label>
                        <input type="text" name="listing[image]" required class="form-control"
                            value="<%= listing.image %>">
                        <div class="invalid-feedback">Please enter valid Image-link</div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control"
                                required>
                            <div class="invalid-feedback">Please enter valid price</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" value="<%= listing.country %>"
                                class="form-control" required>
                            <div class="invalid-feedback">Please enter Country </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control"
                            required>
                        <div class="invalid-feedback">Please enter location </div>
                    </div>

                    <button class="btn btn-dark mb-3 add-btn">Edit</button>
                    <input type="reset" class="btn btn-dark mb-3">
                </form>

                <a href="/listings/<%= listing._id %>">Back to Listing</a>
            </div>
        </div>
    </body>